---
import { getCollection } from "astro:content";
import Section from "../../components/Section.astro";
import ContentMedia from "../../components/ContentMedia.astro";

const featuredProjects = await getCollection("project", (project) => project.data.featured);
featuredProjects.sort((a, b) => {
  return new Date(b.data.date) - new Date(a.data.date);
});
---
<Section title="Projects">
  <div class="w-fit mx-auto">

    <div class="flex flex-col justify-center gap-32 mx-auto w-fit">
      {
        featuredProjects.map((project, idx) => (
          <ContentMedia imgSrc={project.data.image}
                        url={'/project/' + project.slug}
                        title={project.data.title}
                        tags={project.data.tags}
          >
            <p class="text-2xl">
              {
                project.data.description
              }
            </p>
          </ContentMedia>
        ))
      }

    </div>
  </div>
  <div class="w-full mt-16">
    <a
      href="/project"
      class="float-right !no-underline ml-auto py-2 px-4 border border-onemagenta  rounded-lg cursor-pointer font-bold group cta-button1">
        <span
          class="!text-oneblack dark:!text-onewhite group-hover:!text-oneblack transition-colors duration-200 ease-in-out">
          See All Projects &rarr;
        </span>
    </a>
  </div>
</Section>