/** @format */

@reference "../assets/global.css";

/* a {
    @apply focus:outline-2 outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed;
} */

/* article ul li::before {
    content: "➤ ";
    color: var(--color-onemagenta);
} */

article  li::marker {
    content: "➤ ";
    color: var(--color-onemagenta) !important;
}

pre {
    @apply my-5;
}

li > p {
    display: inline !important;
}

blockquote p {
    @apply !italic !text-gray-500 dark:!text-gray-400;
}

table {
    @apply table-auto border-collapse border border-gray-200 dark:border-gray-700;
}

th,
td {
    @apply border border-gray-200 dark:border-gray-700 px-4 py-2;
}

th {
    @apply bg-gray-50 dark:bg-onegrey1;
}

td {
    @apply bg-gray-100 dark:bg-gray-900;
}

/* Katex fix */
html,
body {
    height: auto;
}

#latex-eq {
    @apply text-2xl my-5;
}
