---
import { getCollection } from "astro:content";
import Section from "../components/Section.astro";
import ContentMedia from "../components/ContentMedia.astro";

const featuredProjects = await getCollection("project", (project) => project.data.featured);
---
<Section title="Projects">
  <div class="flex flex-col justify-center gap-32">
    {
      featuredProjects.map((project, idx) => (
        <ContentMedia imgSrc="/accessible-components.webp" reverseImg={idx % 2 != 0}>
          <h2>{project.data.title}</h2>
          <!--<a class="text-slate-400 italic underline underline-offset-1 cursor-pointer">-->
          <!--    Read more-->
          <!--</a>-->
          <p class="text-2xl">
            {
              project.data.description
            }
          </p>
        </ContentMedia>
      ))
    }

  </div>
  <div class="w-full mt-16">
    <a
      href="/blog"
      class="float-right !no-underline ml-auto py-2 px-4 border border-onemagenta  rounded-lg cursor-pointer font-bold group cta-button1">
        <span
          class="!text-oneblack dark:!text-onewhite group-hover:!text-oneblack transition-colors duration-200 ease-in-out">
          See All Projects &rarr;
        </span>
    </a>
  </div>
</Section>