---
import {Icon} from "astro-icon";

export interface Props {
  type: "info" | "warning" | "success";
}

const typeToIcon = {
  info: "ic:baseline-info",
  warning: "ic:baseline-warning",
  success: "ic:baseline-check",
};

const typeToColor = {
  info: "onelightblue",
  warning: "onelightyellow",
  success: "onelightgreen",
};

const {type} = Astro.props
---

<>
<blockquote class={`border-l-4 border-dashed border-l-${typeToColor[type]}`}>
  <Icon name={typeToIcon[type]} size="3rem" class={"text-" + typeToColor[type]} />
  <p>
    <slot />
  </p>
</blockquote>
</>

<style lang="scss">
  blockquote {
    padding-left: 2rem;
    margin-block: 3.5rem;
  }
</style>
