---
import { callToActionText } from "../data";
---

<div class="h-32 bg-transparent"></div>
<div class="container">
  <div class="call-to-action  flex flex-col items-center gap-12 rounded-xl p-12">
    <h2 class="text-center text-3xl md:text-5xl text-oneblack font-mono font-bold">Get in Touch</h2>
    <p class="text-center text-lg font-mono font-bold">{ callToActionText }</p>
    <a href="mailto:saminyaserwork@gmail.com?Body=Hello%20Samin%2C" class="text-center text-lg !rounded-lg !no-underline">Say Hello</a>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    color: var(--neutral-900);
    /*background-image: linear-gradient(40deg, var(--primary-100), var(--secondary-200));*/
    @apply bg-gradient-to-br from-onelightyellow to-onemagenta;
  }

  .call-to-action a:not(button),
  .call-to-action a:not(button):visited {
    padding: 1rem;
    color: var(--neutral-900);
    font-weight: bold;
    border: 3px solid var(--neutral-900);
    border-radius: 3px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:where(:hover, :focus) {
      color: var(--neutral-100);
      background-color: var(--neutral-900);
      text-decoration: underline;
    }
  }
</style>
