---
import { Image } from 'astro:assets'

export interface Props {
  src: any
  alt: string
  caption?: string
  rounded?: boolean
  isMaxWidthFull?: boolean
}

const { src = '', alt = '', caption, rounded = true, isMaxWidthFull = false } = Astro.props
---

<figure class="my-4 md:my-8">
  <Image
    src={src}
    alt={alt === '' ? caption : alt}
    class={`w-full h-auto ${isMaxWidthFull ? 'max-w-full' : ''} ${rounded ? '' : 'rounded-none'} `}
    widths={[240, 540, 720, src.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${src.width}px`}
  />
  {
    caption && (
      <figcaption class="!text-md pt-3 text-center text-gray-500 dark:text-onewhite md:!text-2xl">
        <span class="font-bold">Figure:</span> {caption}
      </figcaption>
    )
  }
</figure>
