---
import { Image } from 'astro:assets'

export interface Props {
  time: string
  date: string
  heroImage?: any
  description: string
}

const { time, date, heroImage, description } = Astro.props
---

<div class={'my-3'}>
  <p class={'dark:text-slate-300 text-lg text-oneblack'}>Samin Yaser</p>
  <span class={'text-onegrey2 dark:text-onewhite'}>{time} minute read</span>
  <span class={'text-onegrey1 dark:text-slate-300'}> · {date}</span>
</div>


{
  heroImage && (
    <>
      <br />
      <Image src={heroImage} alt="test image" className={'rounded-lg'} />
      <br />
    </>
  )
}

<div class={'my-3'}>
  <p>{description}</p>
</div>

<hr class={'h-[1px] mb-3'} />
