---
const {
    title
} = Astro.props
---

<div class="mb-16 font-mono flex justify-center items-center gap-3">
    <div id="f"></div>
    <h2 class="text-3xl md:text-6xl w-fit">
        <span class="text-onemagenta text-2xl md:text-5xl">#</span>
        {title}
    </h2>
    <div id="s" class="grow"></div>
</div>

<style>
    #f, #s {
        height: 3px;
        background-color: theme('colors.onemagenta');
    }
    #f {
        width: 2rem;
    }
</style>